# Restaurant Recommendation System
# Data Cleaning and Preparation

In [2]:
import pandas as pd
import numpy as np

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
business = pd.read_csv('../data/yelp_data/yelp_business.csv')
user = pd.read_csv('../data/yelp_data/yelp_review.csv')

In [6]:
print(business.shape)
business.head()

(174567, 13)

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",NaN,"""4855 E Warner Rd, Ste B9""",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,22,1,Dentists;General Dentistry;Health & Medical;Or...
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",NaN,"""3101 Washington Rd""",McMurray,PA,15317,40.291685,-80.104900,3.0,11,1,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...
2,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",NaN,"""6025 N 27th Ave, Ste 1""",Phoenix,AZ,85017,33.524903,-112.115310,1.5,18,1,Departments of Motor Vehicles;Public Services ...
3,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",NaN,"""5000 Arizona Mills Cr, Ste 435""",Tempe,AZ,85282,33.383147,-111.964725,3.0,9,0,Sporting Goods;Shopping
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,116,1,American (New);Nightlife;Bars;Sandwiches;Ameri...

In [7]:
print(user.shape)
user.head()

(5261668, 9)

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0
1,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,Small unassuming place that changes their menu...,0,0,0
2,MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28,Lester's is located in a beautiful neighborhoo...,0,0,0
3,IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28,Love coming here. Yes the place always needs t...,0,0,0
4,L_9BTb55X0GDtThi6GlZ6w,bv2nCi5Qv5vroFiqKGopiw,s2I_Ni76bjJNK9yG60iD-Q,4,2016-05-28,Had their chocolate almond croissant and it wa...,0,0,0

For our initialcollaborative based models we'll require only a few columns, and some initially just for clarity. We want a dataset that is Edinburgh centric, based on restaurants only and with the user_id, business_id and stars as the features. Note that we caanot just use these columns from the user dataframe as there is no way of filtering by location and business type without joining the business dataset. So this is what we'll do first.

### Select required features from each dataset

In [8]:
#business_id, city, name and categories from the business dataset
bus_cut = business[['business_id', 'name', 'city', 'categories']]
bus_cut.head()

,business_id,name,city,categories
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",Ahwatukee,Dentists;General Dentistry;Health & Medical;Or...
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",McMurray,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...
2,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",Phoenix,Departments of Motor Vehicles;Public Services ...
3,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",Tempe,Sporting Goods;Shopping
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",Cuyahoga Falls,American (New);Nightlife;Bars;Sandwiches;Ameri...

In [9]:
users_cut = user[['business_id', 'review_id', 'user_id', 'stars']]
users_cut.head()

,business_id,review_id,user_id,stars
0,AEx2SYEUJmTxVVB18LlCwA,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,5
1,VR6GpWIda3SfvPC-lg9H3w,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,5
2,CKC0-MOWMqoeWf6s-szl8g,MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,5
3,ACFtxLv8pGrrxMm6EgjreA,IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,4
4,s2I_Ni76bjJNK9yG60iD-Q,L_9BTb55X0GDtThi6GlZ6w,bv2nCi5Qv5vroFiqKGopiw,4

In [10]:
bus_revs = bus_cut.merge(users_cut, how='left', left_on='business_id', right_on='business_id')
bus_revs.head()

,business_id,name,city,categories,review_id,user_id,stars
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",Ahwatukee,Dentists;General Dentistry;Health & Medical;Or...,3_-fne2m2GvKESZRlULAiw,jTvKkNTat9QftSxL_FMcQw,5
1,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",Ahwatukee,Dentists;General Dentistry;Health & Medical;Or...,5gJk64TDq5lqSuoNiaqjVQ,IG6XMgQyWF2_RW1nKEioxA,5
2,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",Ahwatukee,Dentists;General Dentistry;Health & Medical;Or...,5570rwX_o30Z3NmKhou4CQ,2Rh41EBjWI137N2m5VHJJA,5
3,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",Ahwatukee,Dentists;General Dentistry;Health & Medical;Or...,iRm438GDAajUiW2GoIAvtA,YcmNpPM0ag94g4T0zAtdcg,4
4,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",Ahwatukee,Dentists;General Dentistry;Health & Medical;Or...,9lhJwhRwTsqqPyyoSjMuqw,XGL7VDkeUyM5nKQspJBTNw,5

In [11]:
bus_revs.shape

(5261668, 7)

### Filter for our required location and business type

Now we know that we have the individual user ratings and the businesses merged we can filter for Edinburgh and Restaurants / cafes.

In [12]:
edin_revs = bus_revs[bus_revs.city.str.contains('Edin', case=False, na=False)]

In [13]:
print(edin_revs.shape)
edin_revs.head()

(52492, 7)

,business_id,name,city,categories,review_id,user_id,stars
1900,F31RycVVooeIOp9jsXmg6g,"""The Bluebird Cafe""",Edinburgh,Breakfast & Brunch;Diners;Restaurants;Cafes;Br...,b31UZTy2TvnFtkfygJG40Q,bcxcQhp0sKYd9eUnEVUzPA,5
1901,F31RycVVooeIOp9jsXmg6g,"""The Bluebird Cafe""",Edinburgh,Breakfast & Brunch;Diners;Restaurants;Cafes;Br...,jYxWLyWrWy8dJFQs9DEuEg,RFxjYeLW_aYLdVW3PBwFNg,4
1902,F31RycVVooeIOp9jsXmg6g,"""The Bluebird Cafe""",Edinburgh,Breakfast & Brunch;Diners;Restaurants;Cafes;Br...,DMXFC1hZj_e4Mb7iOlVsGg,Lo6hBSAP4grz6Cnr3xiCKw,5
1903,F31RycVVooeIOp9jsXmg6g,"""The Bluebird Cafe""",Edinburgh,Breakfast & Brunch;Diners;Restaurants;Cafes;Br...,GGWxoYbx_h2x7a46m0MYRA,BhYROfCjIJsKUk22_IVHig,3
1904,F31RycVVooeIOp9jsXmg6g,"""The Bluebird Cafe""",Edinburgh,Breakfast & Brunch;Diners;Restaurants;Cafes;Br...,PslbThtGZ_yOWZxAFc3GVg,J_qpI2jCkwv7vPNz_9JeqA,4

In [104]:
edin_rest_revs = edin_revs[edin_revs.categories.str.contains('restaurants', case=False, na=False)]

In [105]:
print(edin_rest_revs.shape)
edin_rest_revs.head()

(28407, 7)

,business_id,name,city,categories,review_id,user_id,stars
1900,F31RycVVooeIOp9jsXmg6g,"""The Bluebird Cafe""",Edinburgh,Breakfast & Brunch;Diners;Restaurants;Cafes;Br...,b31UZTy2TvnFtkfygJG40Q,bcxcQhp0sKYd9eUnEVUzPA,5
1901,F31RycVVooeIOp9jsXmg6g,"""The Bluebird Cafe""",Edinburgh,Breakfast & Brunch;Diners;Restaurants;Cafes;Br...,jYxWLyWrWy8dJFQs9DEuEg,RFxjYeLW_aYLdVW3PBwFNg,4
1902,F31RycVVooeIOp9jsXmg6g,"""The Bluebird Cafe""",Edinburgh,Breakfast & Brunch;Diners;Restaurants;Cafes;Br...,DMXFC1hZj_e4Mb7iOlVsGg,Lo6hBSAP4grz6Cnr3xiCKw,5
1903,F31RycVVooeIOp9jsXmg6g,"""The Bluebird Cafe""",Edinburgh,Breakfast & Brunch;Diners;Restaurants;Cafes;Br...,GGWxoYbx_h2x7a46m0MYRA,BhYROfCjIJsKUk22_IVHig,3
1904,F31RycVVooeIOp9jsXmg6g,"""The Bluebird Cafe""",Edinburgh,Breakfast & Brunch;Diners;Restaurants;Cafes;Br...,PslbThtGZ_yOWZxAFc3GVg,J_qpI2jCkwv7vPNz_9JeqA,4

In [106]:
#edin_rest_revs.to_csv('edinburgh_reviews.csv')

In [107]:
edin_rest_revs.business_id.nunique()

1605

In [108]:
edin_rest_revs.user_id.nunique()

9162

### User reviews analysis

Let's see how the user reveiws are distributed among the user base... we may need to make a decision about removing users with a low review counts.

In [109]:
edin_rest_revs['user_id'].value_counts().to_frame().describe()

           user_id
count  9162.000000
mean      3.100524
std      10.324198
min       1.000000
25%       1.000000
50%       1.000000
75%       2.000000
max     272.000000

In [110]:
user_counts = edin_rest_revs['user_id'].value_counts()
user_counts

utRlrauZEOF_2kASsIoJ7A    272
txzOZrHK9EVY0kYjSuXkKg    243
LURC3E0DoXYgN9aYTF3XOg    224
Cy1PV2TdYeDFA16mUOlr3Q    205
yfXqZkU5iXE07GSHzdsQBA    204
                         ...
wSKp3SBOA3pytkwYXtB6rQ      1
VKgu2AoBHLbOY2zSfphvpA      1
nfcBvVbzRqVU_qoq423gtg      1
fuwedVoOZASUk4asvnxElw      1
7bebusNNG4-oiuqMiPFwPQ      1
Name: user_id, Length: 9162, dtype: int64

In [115]:
user_list = user_counts[user_counts > 10].index.tolist()
len(user_list)

348

so only 348 of our 9162 users have posted more than 10 reviews, when it comes to vectorizing then the matrix is going to be very sparse indeed. This may impact the predictive power of the final recommender.

In [116]:
edin_rest_revs = edin_rest_revs[edin_rest_revs['user_id'].isin(user_list)]
edin_rest_revs.head()

,business_id,name,city,categories,review_id,user_id,stars
1900,F31RycVVooeIOp9jsXmg6g,"""The Bluebird Cafe""",Edinburgh,Breakfast & Brunch;Diners;Restaurants;Cafes;Br...,b31UZTy2TvnFtkfygJG40Q,bcxcQhp0sKYd9eUnEVUzPA,5
1901,F31RycVVooeIOp9jsXmg6g,"""The Bluebird Cafe""",Edinburgh,Breakfast & Brunch;Diners;Restaurants;Cafes;Br...,jYxWLyWrWy8dJFQs9DEuEg,RFxjYeLW_aYLdVW3PBwFNg,4
1903,F31RycVVooeIOp9jsXmg6g,"""The Bluebird Cafe""",Edinburgh,Breakfast & Brunch;Diners;Restaurants;Cafes;Br...,GGWxoYbx_h2x7a46m0MYRA,BhYROfCjIJsKUk22_IVHig,3
1904,F31RycVVooeIOp9jsXmg6g,"""The Bluebird Cafe""",Edinburgh,Breakfast & Brunch;Diners;Restaurants;Cafes;Br...,PslbThtGZ_yOWZxAFc3GVg,J_qpI2jCkwv7vPNz_9JeqA,4
1907,F31RycVVooeIOp9jsXmg6g,"""The Bluebird Cafe""",Edinburgh,Breakfast & Brunch;Diners;Restaurants;Cafes;Br...,oRYhx_qYK5slteB5nyEAiQ,NMelfYHO9mncdmZLIABLgQ,5

In [117]:
edin_rest_revs.shape

(12552, 7)

In [118]:
edin_rest_revs.business_id.nunique()

1527

To enable a base engine to be built we will progress with this dataframe as our data set for collaborative filtering. From the initially imported Yelp datasets we have filered by categories = 'restaurant', location = Edinburgh, and minimum-user-reviews = 10. This leaves us with 12552 reviews across 348 users and 1527 business. We note that removing users with low review counts has also removed some businesses from the set - logically this suggests that the removed restuarants could also have low review counts which could be detrimental to our final product as we want to be able to get access to these lesser known establishments.

Let's export two data sets for collaborative modelling purposes. One that sets a lower limit for user reviews at 10 and one which sets no lower limit for comparison.

In [103]:
edin_rest_revs.to_csv('collaborative_limit.csv')